
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    
}

.head {
background-color: antiquewhite;
    padding: 10px 20px;
    border: white solid;
    border-radius: 5px;
}
.inserch{
  
    background-color: rgb(157, 157, 157);
    color: black;
      border: none;
    /* outline: none; */
    padding: 10px;
    flex: 1;
    position:relative;



}
.serchbutton{
    background-color: rgb(110, 98, 106);
      border: none;
    background: none;
    /* padding: 10px; */
    cursor: pointer;
    /* position:relative; */

}
.serch{
    display: flex;
    border-radius: 8px;
    border: 2px rgb(190, 180, 171) solid;
    align-items: center;
    width: 300px;
    overflow: hidden;
    /* position: relative; */
}

.nav {
    display: flex;
    align-items: center;
}

.ule {
    display: flex;
    gap: 100px;
    list-style: none;
    margin-right: 250px;
}

.ule a {
    text-decoration: none;
    color: black;

}

.sign {
    margin-left: auto;
    /* position: fixed; */
}

.haa {
    position: relative;
    margin-bottom: 100px;
}

.ha {
    width: 100%;
    height: 600px;
    object-fit: cover;
     border-radius: 100px;
    border : solid gray 2px;
    box-shadow: 5px 5px 5px;
      transition: transform 0.8s ease, border-radius 0.5s ease;
}
.naaa {
    position: absolute;
    top: 70px;
    left: 40px;
    color:lightslategray;
    font-size: 30px;
    font-family:fantasy;
}

.mo {
    position: absolute;
    top: 130px;
    left: 40px;
    color: lightgray;
    font-family: fantasy;
}

.bj {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: cursive;
font-style: italic;
margin-top: 20px;
margin-bottom: -30px;
color: black;
}
#nv{
    border-radius: 2px;
    color: #e4e9ee;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
     padding: 2px;

}
h3{
font-weight: 300;
font-style: initial;
font-family: fantasy;
color: black;
}

.base {
   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
     margin-bottom: 50px;
}

.boxs {
    border-radius: 10px;
    box-shadow: 0px 4px 8px gray;
    overflow: hidden;
    padding: 4px;
    margin-bottom: 15px;
    transition: 0.7s;
}

.in {
    width: 100%;
    height: 220px;
    object-fit: fill;
}

.cal {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

#so {
    color: aqua;
}

.ga {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    color: white;
    margin-top: 200px;
    
}

@media(max-width:768px){

    .base{
        grid-template-columns: repeat(2, 1fr);
        border-radius: 15px;
    }
}
@media(max-width:768px){

     .ga{
        font-size: xx-small;
        color: blue;
    }
}
@media(max-width:768px){

     .boxs{
        flex-direction:column;
        width: 200px;
    }}
    /* @media(max-width:768px){

     .serch{
        flex-direction:column;
     position:fixed; 
}} */
@media(max-width:768px){
     .sign{
        flex-direction:column;
     position:fixed; }
    }

#nv:hover{
    border-radius: 8px;
    color: black;
    background-color: #e4e9ee;
    box-shadow: 9px;
}
.boxs:hover{
    border-radius: 17px;
    border : solid gray 4px;
    box-shadow: 9px 8px 10px;


}
.haa:hover{
    border-radius: 100px;
    border : solid rgb(128, 128, 128) 2px;
    box-shadow: 9px 8px 10px;
}
.ha:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
        
}
.haa:hover{

        box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

 .footer:hover{
   
   border-radius: 17px;
    font-weight: 200;
    font-style: oblique;
    font-size: medium;
font-family: serif;
color: lightslategray; 
}
 .mk:hover{
   
   border-radius: 17px;
    font-weight: 200;
    font-style: oblique;
    font-size: medium;
font-family: serif;
color: lightslategray;

}
 .mh:hover{
   
   border-radius: 17px;
    font-weight: 200;
    font-style: oblique;
    font-size: medium;
font-family: serif;
color: lightslategray;}

 .mj:hover{
    border-radius: 17px;
    font-weight: 200;
    font-style: oblique;
    font-size: medium;
font-family: serif;
color: lightslategray;
}
.cart-btn {
    margin: 10px;
    padding: 8px;
    width: 90%;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;}
    .cart-btn:hover {
    background: #286caf;
    color: black;}
    
   .cart-btn:active {
  transform: scale(0.95);
  transition: 0.1s;
}



 
.auth-box {
 position:fixed;
    top: 0;
    left: 0;
     width: 100%;
     height: 100%; 
     display: none;
     /* display: flex; */
    justify-content: center;
    align-items: center;
 /* background: rgba(0,0,0,0.5); */
 box-shadow: 8px 9px 7px 7px;}

.form-box {
    background: grey;
    padding: 15px;
    width: 320px;
    height: 340px;
    border-radius: 12px;
    text-align: center;
margin: 5px;
    box-shadow: 8px 8px 10px 9px rgba(0,0,0,0.3);
}

.form-box input {
    margin: 10px ;
    padding: 5px; 
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
    object-fit: fill;
}
.ca{
    border-radius: 4px;
    background-color: bisque;
    margin: 4px;
    padding: 4px;
}
 .login{border-radius: 4px;
    background-color:beige;
    margin: 4px;
    padding: 4px;}



   /* login pagggg */
   .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.popup-content {
  background-color:beige;

  width: 300px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
text-align: center;
  position: absolute;
   top: 50%;
   left: 50%; 
  transform: translate(-50%, -50%);
}
.popup input{
    border-radius: 4px;
    background-color:bisque;
    margin: 7px;
    padding: 4px;
}
.wlo{
    border-radius: 4px;
    background-color: darkkhaki;
}


.pop {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.popup-content.cart-modern {
  background:rgb(159, 202, 202);
  /* background-color:cyan */
  padding: 20px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(06,4,5,0.3);
  max-height: 80vh;
  overflow-y: auto;
}

#cartItems div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  cursor: pointer;
}

.close-btn {
  background: rgb(255, 0, 255);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.cha{
    background-color: azure;
    border-radius: 12px;
}

.cart-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  display: none;
  z-index: 1000;
}

.clear-btn {
  margin-top: 10px;
  padding: 8px;
  /* width: 100%; */
  /* background: red; */
  color: rgb(223, 20, 20);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button {
  margin: 2px;
  padding: 4px 6px;
  cursor: pointer;
}
.clear-btn:hover {
  background: darkred;
}